* {
	font-size: 12pt;
	font-family: Helvetica, sans-serif, Arial;
}
body {
    background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
    overflow-x: hidden;
	min-width:100px;
}

.contact_us{
	margin-top:20px;
	margin-left:50px;
	color: #D6E5FA;
}


.personal_info_more{
	margin-left:50px;
	margin-top:-12px;
	color: #D6E5FA90;
}

.bottom_logo{
	margin-left:50px;
}

.form {
	overflow: hidden;
	width: 26em;
}

a {
	color: blue;
	text-decoration: none;
}
#banner {
    margin-top: 10pt;
    margin-left: 20pt;
	
}
.login_box{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}

fieldset .login {
	float: left;
	width: 8em;
	margin-left:5%;
	
}

.login_create_new > a{
	background-color: #A8F464;
	color: white;
	font-weight:bold;
	padding-left:18px;
	padding-right:18px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 10px;
	margin-left:30%;
}

.login_button > input[type="submit"] {
	background-color: #379df0;
	color:white;
	border: 2px;
	border-radius: 10px;
	font-size: 12pt;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:70px;
	padding-right:70px;
	margin-left:30%;
	font-weight: bold;
}

.game_info_header{
	margin-left:26em;
	font-size:18pt;
	font-weight:bold;
	color:white;
	
}

.game_name_image{
 border:hidden;
 width:20em;
 text-align: center;
 position:absolute;
 left:22em;
 top:260px;
 height:470px;
 background:#C74B50;
}

.game_trailer{
 border:hidden;
 width:37em;
 text-align: center;
 position:absolute;
 left:415px;
 top:818px;
}

.game_details{
 border:hidden;
 width:30em;
 position:absolute;
 left:47em;
 height:338px;
 top:390px;
 background:#C74B50;
}

.game_bio{
 border:hidden;
 width:30em;
 text-align: center;
 position:absolute;
 left:47em;
 top:260px;
 background:#C74B50;
}

.game_progress{
 border:hidden;
 width:15em;
 position:absolute;
 left:768px;
 top:1290px;
 height:95px;
}

.progress_button{
	margin-left:90px;
}

.game_status{
  border:hidden;
  width:10em;
  position:absolute;
  left:414px;
  top:1290px;
  height:95px;
}

.status_button{
	margin-left:6px;
}

.game_score{
 border:hidden;
  width:8em;
  position:absolute;
  left:606px;
  top:1290px;
  height:95px;
}

.score_button{
	margin-left:45px;
}

.Add_To_List_Button > input[type="submit"]{
  width:10em;
  padding:3px;
  position:absolute;
  left:600px;
  top:1410px;
  height:50px;
}

.Remove_From_List_Button > input[type="submit"]{
  width:10em;
  padding:3px;
  position:absolute;
  left:300px;
  top:1410px;
  height:50px
}

#game_headers{
	text-align:center;
	background:black;
	color:#79DAE9;
	font-weight:bold;
	padding-top:8px;
	padding-bottom:8px;
}

.game_trailer iframe {
    height:383px;
	width:592px;
}

a img {
	border: none;
}

div {
	overflow: hidden;
}

/* form styles */
fieldset {
	background-color:98BAE7;
	border: 2px outset gray;
	border-radius: 10px;
}
.signup_box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;	
  border-radius:10px;
}

/* the bold text labels to the left of each form field */
fieldset .signup {
	float: left;
	width: 11em;

}
.signup_have_account > a{
	text-decoration: none;
	margin-left:17%;
}

.login_have_account > a{
	text-decoration: none;
	margin-left:14%;
}

.new_user_title{
	margin-top:2em;
	margin-bottom:2em;
	text-align:center;
	font-family: Helvetica, sans-serif;
	font-size:30px;
	font-weight:bold;
	color:black;
}

h1 {
	margin-top: 1em;
	margin-left: 3.5em;
	
}

 input[type="username"],input[type="name"]
 ,input[type="password"],input[type="text"]
 ,input[type="phone_number"]{
	font-size: 80%;
	border-radius:5px;
	padding-left:5px;
	padding-right:60px;
	padding-top:5px;
	padding-bottom:5px;
}

input[type="submit"] {
	background-color:#F08080;
	font-size: 140%;
	font-weight: bold;
	margin-top:20px;
	margin-bottom:50px;
	margin-left:150px;
	border-radius:10px;
}

legend {
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}

.titles > p{
	border:hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	width:25em;
	margin-left:30%;
	margin-bottom:2%;
	padding:5px;
	font-size:15pt;
	color:red;
	background:black;
}

tbody{
	color:white;
	
}

.table {
	overflow-y: auto;
    height: 600px;
	text-align:center;
}

.table thead th {
    position: sticky;
    top: 0;
}

table {
	border-collapse: collapse;
    width: 100%;
}

th,td {
padding: 41px 50px;
}

th{
	background-color:black;
}

.table,.table td {
    box-shadow: inset 0px -1px #000;
}

.list_headings{
	color:#79DAE9;
}
