* {
	font-size: 12pt;
	font-family: Helvetica, sans-serif, Arial;
}
body {
    background-color:  #212227;
    overflow-x: hidden;
	min-width:100px;
}
.form {
	overflow: hidden;
	width: 32em;
}

a {
	color: blue;
	text-decoration: none;
}
#banner {
    margin-top: 10pt;
    margin-left: 20pt;
	
}
.login_box{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70%;
}

fieldset .login {
	float: left;
	width: 8em;
	margin-left:5%;
	
}

.login_recover > a{
	text-decoration: none;
	margin-left:23%;
}

.login_create_new > a{
	background-color: #A8F464;
	color: white;
	font-weight:bold;
	padding-left:18px;
	padding-right:18px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius: 10px;
	margin-left:30%;
}

.login_button > input[type="submit"] {
	background-color: #379df0;
	color:white;
	border: 2px;
	border-radius: 10px;
	font-size: 12pt;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:70px;
	padding-right:70px;
	margin-left:30%;
	font-weight: bold;
}

.game_name_image{
 border:hidden;
 width:15.9em;
 text-align: center;
 position:absolute;
 left:47px;
 top:180px;
}

.game_trailer{
 border:hidden;
 width:37em;
 text-align: center;
 position:absolute;
 left:354px;
 top:180px;
}

.game_details{
 border:hidden;
 width:30em;
 position:absolute;
 left:1000px;
 height:420px;
 padding-left:10px;
 top:180px;
}

.game_progress{
 border:hidden;
 width:15em;
 position:absolute;
 left:700px;
 top:650px;
 height:58px;
}

.progress_button{
	margin-left:90px;
}

.game_status{
  border:hidden;
  width:10em;
  position:absolute;
  left:350px;
  top:650px;
  height:58px;
}

.status_button{
	margin-left:6px;
}

.game_score{
 border:hidden;
  width:8em;
  position:absolute;
  left:540px;
  top:650px;
  height:58px;
}

.score_button{
	margin-left:45px;
}

.Add_To_List_Button > input[type="submit"]{
  width:8em;
  padding:3px;
  position:absolute;
  left:530px;
  top:750px;
  height:50px
}

#game_headers{
	text-align:center;
	text-decoration:underline;
	background:white;
}

.game_trailer iframe {
    height:383px;
	width:592px;
}

a img {
	border: none;
}

div {
	overflow: hidden;
}

/* form styles */
fieldset {
	background-color: #E0E0FF;
	border: 2px outset gray;
	border-radius: 10px;
}
.signup_box{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;	
}

/* the bold text labels to the left of each form field */
fieldset .signup {
	float: left;
	width: 11em;
}
.signup_have_account > a{
	text-decoration: none;
	margin-left:23%;
}

h1 {
	margin-top: 1em;
}

input[type="submit"] {
	background-color: #FAA;
	font-size: 120%;
	font-weight: bold;
}
legend {
	background-color: white;
	border: 2px outset gray;
	padding: 0.2em;
}


